body {
    margin: 20px;
}

.header {
    font-weight: bold;
    font-size: 20pt;
}

a {
    text-decoration: none;
    color: black;
}

.name {
    font-weight: bold;
}

.artist {
    font-style: italic;
}

.album {
    color: #666;
}

.track {
    padding: 5px 0;
    margin-bottom: 1px;
}

.match-ok, .green {
    background-color: rgba(0, 255, 0, 0.1);

}

.match-ok {
    display: none;
}

.match-marginal, .yellow {
    background-color: rgba(255, 255, 0, 0.1);
}

.match-bad, .red {
    background-color: rgba(255, 0, 0, 0.1);
}

.unavailable, .unavailable a {
    text-decoration: line-through;
}
